body {
  color: white;
  background-color: #1d1e22;
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
}

a {
  color: #6CA547;
  text-decoration: none;
  text-shadow: 0px 0px 0px #6CA547;
  cursor: pointer;
  cursor: hand;
}

a:hover {
  color: #8CD85C;
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}